<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HeroFieb.styles.css" asp-append-version="true" />
</head>
<body>
    <header class=" ">
        <div id="acessos" class="container-fluid py-1">
            <ul class="d-flex list-unstyled justify-content-center m-0 gap-3">
                <li>
                    <a href="https://fieb.edu.br/soualuno" target="_blank">
                        Sou Aluno <i class="bi bi-backpack2-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="https://fieb.edu.br/soucolaborador" target="_blank">
                        Sou Colaborador <i class="bi bi-people-fill"></i>
                    </a>
                </li>
                <li>
                    <a href="https://fieb.edu.br/souresponsavel" target="_blank">
                        Sou Responsável <i class="bi bi-person-hearts"></i>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container p-0">
                @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly">
                    <ul class="navbar-nav flex-grow-1 gap-4 py-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Institucional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Unidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Notícias</a>
                        </li>
                    </ul>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.29 84.42"><path d="M2.19 14.26c0-4.49 1.24-7.7 3.71-9.63s5.43-2.89 8.88-2.89c9.57 0 17.02.36 22.33 1.09v11.09H18.6c-1.09 0-1.89.28-2.42.85q-.78.855-.78 2.01v5.72l18.31.68v10.48l-18.31.68v17.97H2.19zM43.23 1.74h13.2v50.57h-13.2zM64.6 40.67V14.26c0-4.49 1.24-7.7 3.71-9.63s5.43-2.89 8.88-2.89c8.17 0 15.61.34 22.33 1.02v11.16H81.28c-2.31 0-3.47 1-3.47 2.99v4.22l18.31.68v10.48l-18.31.68v3.81c0 1.18.26 2.07.78 2.65.52.59 1.24.88 2.14.88h18.79v11.16c-2.81.41-6.21.71-10.18.92-3.97.2-7.77.31-11.4.31-8.89 0-13.34-4.02-13.34-12.05Zm41.79-38.93h20.96c10.21 0 15.31 4.49 15.31 13.48 0 2.95-.58 5.34-1.74 7.18s-2.89 3.05-5.21 3.64c2.54.64 4.59 2.01 6.16 4.12s2.35 4.87 2.35 8.27c0 4.9-1.31 8.44-3.91 10.62-2.61 2.18-6.59 3.27-11.95 3.27h-21.98V1.74Zm20.83 19.87c.95 0 1.68-.37 2.18-1.12s.75-1.71.75-2.89c0-1.41-.28-2.43-.85-3.06-.57-.64-1.26-.95-2.08-.95h-7.62v8.03h7.62Zm.75 18.85c1.18 0 2.1-.4 2.76-1.19s.99-1.87.99-3.23-.33-2.44-.99-3.23-1.58-1.19-2.76-1.19h-8.37v8.85h8.37Z" style="fill:#5b5fc7" /><path d="M163.09 13.82h-12.73V1.98h38.66v11.84h-12.73v38.73h-13.2zm30.76 27.09V14.5c0-4.49 1.24-7.7 3.71-9.63s5.43-2.89 8.88-2.89c8.17 0 15.61.34 22.33 1.02v11.16h-18.24c-2.31 0-3.47 1-3.47 2.99v4.22l18.31.68v10.48l-18.31.68v3.81c0 1.18.26 2.07.78 2.65.52.59 1.24.88 2.14.88h18.79v11.16c-2.81.41-6.21.71-10.18.92-3.97.2-7.77.31-11.4.31-8.89 0-13.34-4.02-13.34-12.05Zm48.84 10c-2.66-1.36-4.71-3.92-6.16-7.69s-2.18-9.14-2.18-16.13.76-12.01 2.28-15.76c1.52-3.74 3.62-6.32 6.3-7.72 2.68-1.41 6.01-2.11 10.01-2.11 3.77 0 7.04.27 9.83.82 2.79.54 5.05 1.18 6.77 1.91v10.28c-1.5-.32-3.45-.59-5.85-.82-2.41-.23-5.01-.34-7.83-.34q-3.33 0-5.04.99c-1.13.66-1.96 1.96-2.48 3.91s-.78 4.95-.78 8.98.21 6.74.65 8.64c.43 1.91 1.24 3.26 2.42 4.05s2.97 1.19 5.38 1.19c5.94 0 10.46-.2 13.54-.61v10.28c-3.63 1.45-9.17 2.18-16.61 2.18-4.18 0-7.59-.68-10.24-2.04Zm33.72-48.93h13.2v19.47h14.97V1.98h13.2v50.57h-13.2V33.29h-14.97v19.26h-13.2z" style="fill:none;stroke:#5b5fc7;stroke-miterlimit:10;stroke-width:3px" /><text transform="translate(0 78.15)" style="fill:#5b5fc7;font-family:MyriadPro-Regular,&quot;Myriad Pro&quot;;font-size:158%"><tspan x="0" y="0" style="letter-spacing:0">Educação conectada ao futuro</tspan></text></svg>
                    @* <img src="https://stgwebfiebbrs001.blob.core.windows.net/web/logo-fiebtech-branco_318x84.png" height="40"/> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - HeroFieb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
