:root {
    --roxo-teams: #5B5FC7;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

svg {
    height: 40px;
    width: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

section {
    overflow: hidden;
    width: 100%;
    height: 500px;
}

#acessos {
    background-color: var(--roxo-teams);

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 13px;

        i {
            color: #BDE03B;
        }
    }
}

.navbar {
    background: #F4F4F4;

    a {
        color: var(--roxo-teams);
        font-weight: 500;
        font-size: 18px;
    }

    .nav-link {
        padding-left: 0 !important;
    }
}

.hero {
    position: relative;

    .hero-video {
        position: absolute;
        inset: 0;
        object-fit: cover;
    }

    .hero-mascara {
        position: absolute;
        inset: 0;
        background-color: color-mix( in srgb, var(--roxo-teams) 20%, transparent );
        z-index: 1;
    }

    .hero-menu {
        left: -25%;
        width: 300px;
        position: relative;
        z-index: 2;
        color: white;
        top: 30%;
        transform: translateY(-50%);
       
    }
}





