:root {
    --azul-novo: #1E3756;
    --azul-claro: #f3faff;
    --amarelo: #fddb60;
    --preto: #1e2334;
    --verde-agua: #15CFAA;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

svg {
    height: 40px;
    width: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Georama", serif;
}

section {
    overflow: hidden;
    width: 100%;
    height: 800px;
}

#acessos {
    background-color: var(--azul-claro);

    a {
        text-decoration: none;
        color: var(--preto);
        font-weight: 600;
        font-size: 13px;

        i {
            color: var(--verde-agua);
        }
    }
}

header,
.navbar {
    position: relative;
    z-index: 10;
}

header {
}


.navbar {
    background: var(--azul-novo);
    border-color: rgba(255,255,255,0.45) !important;

    a {
        color: var(--azul-claro) !important;
        font-weight: 600;
        font-size: 18px;

        &:hover {
            color: var(--verde-agua) !important;
            background-color: color-mix( in srgb, white 30%, transparent );
        }
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown-menu {
        background-color: var(--azul-novo);
        min-width: 200px;
        border: none !important;
        border-radius: 0 !important;
        inset: auto auto auto auto !important;

        a {
            font-size: 16px !important;
            font-weight: 400;
            padding-bottom: 1rem;
        }
    }

    .nav-link {
        padding-left: 0 !important;
    }
}

.hero {
    position: relative;
    z-index: 1;
    margin-top: -120px;

    .hero-video {
        position: absolute;
        inset: 0;
        object-fit: cover;
    }

    .hero-mascara {
        position: absolute;
        inset: 0;
        background-color: color-mix( in srgb, var(--azul-novo) 15%, transparent );
        z-index: 1;
    }

    .hero-menu {
        /*left: -25%;
        width: 300px;*/
        position: relative;
        z-index: 2;
        color: white;
        top: 52%;
        transform: translateY(-50%);

        .ul-menu {
            background-color: color-mix( in srgb, var(--azul-claro) 90%, transparent );
            min-width: 320px;
            font-size: 18px;
            font-weight: 500;
            color: var(--azul-novo);

            li {
                border-color: rgba(0,0,0,0.1) !important;
                padding: 1.5rem 0 !important;

                a {
                    text-decoration: none;
                    color: var(--azul-novo);
                }

                .show {
                    color: var(--verde-agua);
                }
            }

            &:first-child {
                padding-top: 0 !important;
            }

            .dropdown-toggle::after {
                display: none !important;
            }

            .dropdown-menu {
                background-color: color-mix( in srgb, var(--azul-novo) 90%, transparent );
                min-width: 300px;
                font-size: 18px;
                font-weight: 500;
                border: none !important;
                border-radius: 0 !important;
                inset: -24px auto auto 0px !important;

                a {
                    color: white !important;
                    padding-top: 0 !important;
                    padding: .8rem 1.5rem !important;

                    &:hover {
                        background-color: color-mix( in srgb, white 30%, transparent );
                        border-left: 4px solid var(--verde-agua);
                    }
                }

                li {
                    padding: 0 !important;
                }
            }
        }
    }
}
